.head_table {
		width : 100%;
		border : none;
	}
	img {
		width: 170px;
		height : 170px;
	}
	.search_icon {
		height : 15px;
		width : 15px;
	}
	.btn_talent_test {
		background-color : transparent;
		border : none;
	}
	.logo {
		width : 280px;
		height : 130px;
	}
	.talentList {
		width : 50%;
		border-collapse : collapse;
		text-align : center;
		margin : auto;
	}
	.talentList td {
		height : 200px;
		width : 200px;
		border : 1px solid;
	}
	.search td {
		border : none;
	}
	button {
		background-color : transparent;
		border : none;
	}
	.search {
		text-align : center;
	}