@charset "UTF-8";
<style type="text/css">
body {
	font: 14p, sans-serif;
}

.nav {
	float: left;
	width: 10%;
	margin-left: 200px;
}

.nav-list {
	margin: 0;
	padding: 10px 10px;
}

.nav-item {
	margin: 10px 10px;
}

.content {
	float: left;
	width: 900px;
	margin: 10px 0px 0px 50px;
}

button {
	border: 0;
	outline: 0;
	background: #fff;
}

.post {
	border: 1px solid;
	padding: 10px;
	margin: 10px;
}

.category {
	display: inline-block;
	line-height: 30px;
}

.post {
	display: inline-block;
	border: 1px solid;
	padding: 15px;
	margin: 15px 10px;
	width: 800px;
	height: 150px;
	border-radius: 30px;
}

#thumbnail {
	border-radius: 30px;
	margin: 2px 30px;
	float: left;
	width: 150px;
	height: 150px;
}


#priceRange {
	width: 100px;
}
p {
	margin: 15px;
}
</style>
