@charset "UTF-8";
<style type="text/css">
body {
	font: 14p, sans-serif;
}

frame {
	margin: 0 auto;
	border: 1px solid #aaa;
}

.nav {
	float: left;
	width: 200px;
	margin-left: 200px;
}

.nav-list {
	margin: 0;
	padding: 10px 10px;
}

.nav-item {
	margin: 10px 0;
}

.content {
	float: left;
	width: 900px;
	background: #fff;
	margin: 10px 0px 0px 30px;
}

button {
	border: 0;
	outline: 0;
	background: #fff;
}

.post {
	border: 1px solid;
	padding: 10px;
	margin: 10px;
}

.category {
	display: inline-block;
	width: 200px;
	line-height: 30px;
}

.container {
	float: center;
}

.post {
	display: inline-block;
	border: 1px solid;
	padding: 10px;
	margin: 15px 10px 10px 10px;
	width: 800px;
	height: 150px;
	border-radius: 30px;
}

#thumbnail {
	border-radius: 30px;
	margin: 15px 30px 10px 30px;
	float: left;
}

#imgSection {
	width: 100px;
	margin: 15px;
	float: left;
}

#priceRange {
	width: 100px;
}

p {
	margin: 15px;
}
</style>
